[Unit]
Description=Librespot (Spotify Connect)
After=network-online.target audioos-tune.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/librespot --config /etc/librespot.toml
Restart=on-failure
RestartSec=2
Nice=-10
CPUAffinity=3
LimitRTPRIO=90
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
